/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.button {
  transition: background 500ms;
}

/* line 12, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 17, ../sass/screen.scss */
#container {
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}

/* line 23, ../sass/screen.scss */
header {
  max-width: 1900px;
  margin: auto;
  /*width: 90%;*/
}

/* line 28, ../sass/screen.scss */
.header_wrapper {
  max-width: 1113px;
  margin: auto;
  /*width: 58.57894736842105%; */
  /*display: flex;
  flex-wrap: wrap; */
  padding: 0 auto;
}

/* line 37, ../sass/screen.scss */
.header_top_left {
  /* width: 34.32165318957772%;
   max-width: 382px; */
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

/* line 45, ../sass/screen.scss */
.header_top_right {
  /*max-width: 264px;
  width: 25.51662174303684%; */
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

/* line 53, ../sass/screen.scss */
.header_top_left_name {
  font-size: 1.125em;
  margin: 0 0 0 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  padding: 0 30px 0 0;
}

/* line 61, ../sass/screen.scss */
.header_top_right_number {
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0 15px 0 0;
}

/* line 68, ../sass/screen.scss */
.header_top {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 75, ../sass/screen.scss */
.header_top_right_cell {
  width: 22px;
  height: 22px;
}

/* line 80, ../sass/screen.scss */
.header_top_pause {
  width: 44px;
  height: 44px;
}

/* line 85, ../sass/screen.scss */
.header_bottom_up {
  display: flex;
  justify-content: space-around;
}

/* line 90, ../sass/screen.scss */
.header_bottom_up_links {
  text-decoration: none;
  font-size: 1.1 em;
  color: #af7535;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  padding: 0 30px 0 0;
  font-weight: 700;
}

/* line 101, ../sass/screen.scss */
.header_bottom_up_links:hover {
  color: #000000;
  transition: background 1000ms
}

/* line 106, ../sass/screen.scss */
.header_bottom_up {
  margin: 0 0 0 30px;
  padding: 25px 0 0 0;
}

/* line 111, ../sass/screen.scss */
.header_bottom_down {
  padding: 20px 0 30px 230px;
}

.main_top {
  background: url("../img/main.png") no-repeat;
  margin: 0 auto;
  padding: 0 auto;
  background-position: 50% 0;
  max-width: 1113px;
}

.main_top_content_text {
  font-size: 2.50em;
  color: #ffffff;
  padding: 160px 0 170px 100px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  letter-spacing: 7px;
}

.main_top_content_form {
  width: 350px;
  height: 396px;
  background: #ffffff;
  margin: 40px 0 0 280px;

}

.main_top_content {
  display: flex;
}

.main_top_content_form_text {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  padding: 30px 0 0 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  line-height: 25px;
  word-spacing: 5px;
  font-weight: 600;
}

.main_form_line {
  padding: 10px 0 20px 165px;
}

.main_center {
  /*max-width: 1113px;
  padding: 0 auto;
  margin: 0 auto; */
}

.main_center_header {
  padding: 30px 0 40px 0;
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #af7535;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
  line-height: 40px;
  font-weight: 600;
}

.main_center_block {
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 0.938em;
  word-spacing: 2px;
  max-width: 1113px;
  padding: 0 auto;
  margin: 0 auto;
}

.main_center_block div,
.main_center_block_text {
  width: 50%;
}

.main_center_block_text {
  box-sizing: border-box;
}

.text_one {
  padding: 70px 0 0 80px;
}

.text_two {
  padding: 75px 0 0 67px;
}

.text_three {
  padding: 67px 0 0 69px;
}

.text_fourth {
  padding: 33px 0 0 67px;
}

.text_fifth {
  padding: 75px 0 0 80px;
}

.main_center_down {
  padding: 50px 0 0 0;
  max-width: 977px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 22px;
  word-spacing: 5px;
}

.main_center_down_text {
  font-weight: 700;
}

.main_center_down_section {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

.main_center_down_section_one, .main_center_down_section_two {
  padding: 55px 0 92px 125px;
}

.main_center_down_section_one {
  background: url("../img/man.png") no-repeat;
  background-position: 0% 40%;
}

.main_center_down_section_two {
  background: url("../img/circle.png") no-repeat;
  background-position: 0% 40%;
}

.main_content_form {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 1px solid #000000;
  padding: 9px 90px 9px 8px;

}

.form_one {
  margin: 0 0 15px 33px;
}

.form_two {
  margin: 0 0 15px 33px;
}

.main_content_list {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 1px solid #000000;
  padding: 9px 115px 9px 8px;
  margin: 0 20px 0 33px;
  position: relative;
}

.main_content_list::after {
  content: "";
  position: absolute;

}

.main_top_content_form_button {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0 0 0 33px;
  padding: 12px 83px 12px 84px;
  background-color: #af7535;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main_top_content_form_click {
  margin: 30px 0 0 0;
}

.main_top_content_form_button:hover {
  transition: background 1000ms;
  background-color: black;
}